# Problem Set 2

# Question 1

In [1]:
a = 0

def b():
  global a
  a = c(a)

def c(a):
  return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

The final output of a is 6. Initially, a is set to 0. Each time b() is called, it updates a by calling c(a), which returns a + 2. On the first call, a becomes 2 (0 + 2). On the second call, a becomes 4 (2 + 2). On the third call, a becomes 6 (4 + 2). Therefore, after three calls to b(), the value of a is 6.

# Question 2

In [7]:
def fileLength(file_name):
  try:
    file = open(file_name)
    contents = file.read()
    file.close()
    print(len(contents))
  except FileNotFoundError:
    print(f"File {file_name} not found.")

In [13]:
fileLength('midterm.py')

33

In [14]:
fileLength('idterm.py')

File idterm.py not found.

# Question 3

In [16]:
class Marsupial:
  def __init__(self):
    self.pouch = []

  def put_in_pouch(self, item):
    self.pouch.append(item)

  def pouch_contents(self):
    return self.pouch

In [17]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [18]:
class Kangaroo(Marsupial):
  def __init__(self, x, y):
    super().__init__()
    self.x = x
    self.y = y

  def jump(self, dx, dy):
    self.x += dx
    self.y += dy

  def __str__(self):
    return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [19]:
k = Kangaroo(0, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [20]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [21]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

In [22]:
def collatz(x):
  print(x)

  if x == 1:
    return
  elif x % 2 == 0:
    collatz(x // 2)
  else:
    collatz(3 * x + 1)

In [23]:
collatz(1)

1

In [24]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [25]:
def binary(n):
  if n == 0:
    print(0, end='')

  elif n == 1:
    print(1, end='')

  else:
    binary(n // 2)
    print(n % 2, end='')

In [26]:
binary(0)

0

In [27]:
binary(1)

1

In [28]:
binary(3)

11

In [29]:
binary(9)

1001

# Question 6

In [52]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
  def __init__(self):
    super().__init__()
    self.level_indent = 0
    self.is_heading = False

  def handle_starttag(self, tag, attrs):
    if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
      self.level_indent = int(tag[1]) - 1
      self.is_heading = True

  def handle_endtag(self, tag):
    if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
      self.level_indent = 0
      self.is_heading = False

  def handle_data(self, data):
    if self.is_heading:
      print(' ' * self.level_indent + data.strip())

In [53]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7

In [32]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
  if depth < 0:
    return

  try:
    response = urlopen(url)
    soup = BeautifulSoup(response, 'html.parser')
    print(' ' * indent + url)

    if depth == 0:
      return

    links = soup.find_all('a')
    for link in links:
      href = link.get('href')
      if href.startswith('http'):
        webdir(href, depth - 1, indent + 2)

  except Exception as e:
    print('Error:', e)

In [33]:
webdir('https://reed.cs.depaul.edu/lperkovic/csc242/syllabus.html', 2, 0)

https://reed.cs.depaul.edu/lperkovic/csc242/syllabus.html
  https://reed.cs.depaul.edu/lperkovic/
Error: HTTP Error 418:
Error: HTTP Error 418:
    https://reed.cs.depaul.edu/lperkovic/courses/csc241/
    https://reed.cs.depaul.edu/lperkovic/courses/csc242/
  https://depaul.zoom.us/j/894936490
  https://depaul.zoom.us/j/894936490
  https://d2l.depaul.edu/
  https://d2l.depaul.edu/
  https://www.vitalsource.com/custom/9781119185390
    https://sampling.vitalsource.com/educators
    https://get.vitalsource.com/
    https://get.vitalsource.com/press
    https://get.vitalsource.com/about-us/careers
    https://get.vitalsource.com/resources/events
    https://get.vitalsource.com/blog
Error: HTTP Error 403: Forbidden
    https://bulk-store.vitalsource.com/
    https://sampling.vitalsource.com/educators
Error: HTTP Error 403: Forbidden
Error: HTTP Error 403: Forbidden
Error: HTTP Error 403: Forbidden
    https://www.youtube.com/channel/UCnLjhbaT56U_mmmc4m0yBrA
Error: HTTP Error 429: Too Many Requests
    https://www.facebook.com/vitalsourcebookshelf/
    https://twitter.com/vitalsource
Error: HTTP Error 999: Request denied
    https://get.vitalsource.com/
  https://reed.cs.depaul.edu/lperkovic/courses/csc242
  https://academics.depaul.edu/calendar/Pages/default.aspx
    https://academics.depaul.edu/calendar/Pages/default.aspx
    https://catalog.depaul.edu/
    https://resources.depaul.edu/student-success/Pages/default.aspx
    https://campusconnect.depaul.edu/
    https://d2l.depaul.edu/
    https://library.depaul.edu/Pages/default.aspx
    https://offices.depaul.edu/depaul-central/Pages/default.aspx
    https://offices.depaul.edu/public-safety/Pages/default.aspx
    https://depaul.bncollege.com/
    https://www.depaul.edu/campus-maps/Pages/default.aspx
    https://events.depaul.edu/
Error: HTTP Error 302: The HTTP server returned a redirect error that would lead to an infinite loop.
The last 30x error message was:
Moved Temporarily
Error: HTTP Error 308: Permanent Redirect
    https://www.depaul.edu/Pages/employment-at-depaul.aspx
    https://www.depaul.edu/utilities/Pages/a-z-websites.aspx
    https://depaul.service-now.com/sp
Error: HTTP Error 403: Forbidden
    https://www.depaul.edu/Pages/students.aspx
    https://www.depaul.edu/Pages/faculty.aspx
    http://www.depaul.edu/
    https://www.depaul.edu/Pages/default.aspx
Error: 'NoneType' object has no attribute 'startswith'
  https://campusconnect.depaul.edu/
  http://academicintegrity.depaul.edu/
    https://academics.depaul.edu/calendar/Pages/default.aspx
    https://catalog.depaul.edu/
    https://resources.depaul.edu/student-success/Pages/default.aspx
    https://campusconnect.depaul.edu/
    https://d2l.depaul.edu/
    https://library.depaul.edu/Pages/default.aspx
    https://offices.depaul.edu/depaul-central/Pages/default.aspx
    https://offices.depaul.edu/public-safety/Pages/default.aspx
    https://depaul.bncollege.com/
    https://www.depaul.edu/campus-maps/Pages/default.aspx
    https://events.depaul.edu/
Error: HTTP Error 302: The HTTP server returned a redirect error that would lead to an infinite loop.
The last 30x error message was:
Moved Temporarily
Error: HTTP Error 308: Permanent Redirect
    https://www.depaul.edu/Pages/employment-at-depaul.aspx
    https://www.depaul.edu/utilities/Pages/a-z-websites.aspx
    https://depaul.service-now.com/sp
Error: HTTP Error 403: Forbidden
    https://www.depaul.edu/Pages/students.aspx
    https://www.depaul.edu/Pages/faculty.aspx
    https://www.depaul.edu/
Error: 'NoneType' object has no attribute 'startswith'
  https://academics.depaul.edu/calendar/Pages/default.aspx
    https://academics.depaul.edu/calendar/Pages/default.aspx
    https://catalog.depaul.edu/
    https://resources.depaul.edu/student-success/Pages/default.aspx
    https://campusconnect.depaul.edu/
    https://d2l.depaul.edu/
    https://library.depaul.edu/Pages/default.aspx
    https://offices.depaul.edu/depaul-central/Pages/default.aspx
    https://offices.depaul.edu/public-safety/Pages/default.aspx
    https://depaul.bncollege.com/
    https://www.depaul.edu/campus-maps/Pages/default.aspx
    https://events.depaul.edu/
Error: HTTP Error 302: The HTTP server returned a redirect error that would lead to an infinite loop.
The last 30x error message was:
Moved Temporarily
Error: HTTP Error 308: Permanent Redirect
    https://www.depaul.edu/Pages/employment-at-depaul.aspx
    https://www.depaul.edu/utilities/Pages/a-z-websites.aspx
    https://depaul.service-now.com/sp
Error: HTTP Error 403: Forbidden
    https://www.depaul.edu/Pages/students.aspx
    https://www.depaul.edu/Pages/faculty.aspx
    http://www.depaul.edu/
    https://www.depaul.edu/Pages/default.aspx
Error: 'NoneType' object has no attribute 'startswith'
Error: HTTP Error 418:

# Question 8

In [34]:
import sqlite3

conn = sqlite3.connect('weather.db')

cur = conn.cursor()

cur.execute("CREATE TABLE WeatherData (City TEXT, Country TEXT, Season TEXT, Temperature REAL, Rainfall REAL)")

conn.commit()

In [35]:
cur.execute("INSERT INTO WeatherData VALUES ('Mumbai', 'India', 'Winter', '24.8', '5.9')")
cur.execute("INSERT INTO WeatherData VALUES ('Mumbai', 'India', 'Spring', '28.4', '16.2')")
cur.execute("INSERT INTO WeatherData VALUES ('Mumbai', 'India', 'Summer', '27.9', '1549.4')")
cur.execute("INSERT INTO WeatherData VALUES ('Mumbai', 'India', 'Fall', '27.6', '346.0')")
cur.execute("INSERT INTO WeatherData VALUES ('London', 'United Kingdom', 'Winter', '4.2', '207.7')")
cur.execute("INSERT INTO WeatherData VALUES ('London', 'United Kingdom', 'Spring', '8.3', '169.6')")
cur.execute("INSERT INTO WeatherData VALUES ('London', 'United Kingdom', 'Summer', '15.7', '157.0')")
cur.execute("INSERT INTO WeatherData VALUES ('London', 'United Kingdom', 'Fall', '10.4', '218.5')")
cur.execute("INSERT INTO WeatherData VALUES ('Cairo', 'Egypt', 'Winter', '13.6', '16.5')")
cur.execute("INSERT INTO WeatherData VALUES ('Cairo', 'Egypt', 'Spring', '20.7', '6.5')")
cur.execute("INSERT INTO WeatherData VALUES ('Cairo', 'Egypt', 'Summer', '27.7', '0.1')")
cur.execute("INSERT INTO WeatherData VALUES ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')")

conn.commit()

In [36]:
cur.execute("SELECT * FROM WeatherData")

for record in cur:
  print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [37]:
cur.execute("SELECT Temperature FROM WeatherData")

for record in cur:
  print(record[0])

24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [38]:
cur.execute("SELECT DISTINCT City FROM WeatherData")

for record in cur:
  print(record[0])

Mumbai
London
Cairo

In [39]:
cur.execute("SELECT * FROM WeatherData WHERE Country = 'India'")

for record in cur:
  print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [40]:
cur.execute("SELECT * FROM WeatherData WHERE Season = 'Fall'")

for record in cur:
  print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [41]:
cur.execute("SELECT City, Country, Season FROM WeatherData GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")

for record in cur:
  print(record)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [42]:
cur.execute("SELECT City, Country FROM WeatherData WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")

for record in cur:
  print(record)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [43]:
cur.execute("SELECT SUM(Rainfall) AS TotalRainfall FROM WeatherData WHERE City = 'Cairo'")

for record in cur:
  print(record[0])

27.6

In [44]:
cur.execute("SELECT Season, ROUND(SUM(Rainfall), 1) AS TotalRainfall FROM WeatherData GROUP BY Season")

for record in cur:
  print(record)

('Fall', 569.0)
('Spring', 192.3)
('Summer', 1706.5)
('Winter', 230.1)

In [45]:
cur.close()
conn.close()

# Question 9

In [46]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [47]:
upper_words = [word.upper() for word in words]
upper_words

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [48]:
lower_words = [word.lower() for word in words]
lower_words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [49]:
word_lengths = [len(word) for word in words]
word_lengths

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [50]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
word_info

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [51]:
long_words = [word for word in words if len(word) >= 4]
long_words

['quick', 'brown', 'jumps', 'over', 'lazy']